<form method="post">
    <label for="code">Insira o código enviado por e-mail:</label>
    <input type="number" name="code" id="code">
    <input type="hidden" name="id" value="{{id._id}}">
    <input type="hidden" name="email" value="{{id.email}}">
    <input type="hidden" name="password" value="{{id.password}}">
    <button type="submit">Verificar</button>
</form>