<div class="topbar">
    <a class="logo" href="/"><h1>NeoChrono</h1></a>
    <nav class="navbar">
        {{#if user}}
            <a href="/user/newpost">Criar Postagem</a>
            <a href="/user">Conta</a>
            {{else}}
                <a href="/user/register">Criar Conta</a>
                <a href="/user/login">Login</a>
        {{/if}}
    </nav>
</div>
<div style="height: 100px;"></div>