<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Rede Social experimental para aprendizado de Node.JS.">
    <meta name="author" content="Otavio Luiz Gonzaga">
    <meta name="keywords" content="rede social, social, node.js, html, css, express, handlebars">
    <link rel="stylesheet" href="/css/style.css">
    <script src="/javascript/main.js"></script>
    <title>NeoChrono - Rede Social</title>
</head>
<body>
    {{>_navbar}}
    {{>_msg}}
    {{{body}}}
</body>
</html>