<h2>Você receberá um e-mail para redefinir a senha.</h2>
<form method="post">
    <label for="email">Email da conta:</label>
    <input type="email" name="email" id="email">
    <button type="submit">Continuar</button>
</form>