{{#if user}}
    {{else}}
    <div class="popup">
        <h3>Crie uma conta ou faça login para continuar</h3>
        <form action="/user/login" method="post">
            <label for="email">E-mail:</label>
            <input type="email" id="email" name="email" placeholder="Insira o seu e-mail...">
            <label for="password">Senha:</label>
            <input type="password" id="password" name="password" placeholder="Insira a sua senha...">
            <button type="submit" class="btn">Login</button>
        </form><hr>
        <a href="/user/register" class="full btn">Criar Conta</a>
        <p class="small link" onclick="displaynone()">Continuar sem conta</p>
    </div>
{{/if}}