{{#if teste}}
    {{else}}
    <div class="popup">
        <h3>Crie uma conta ou faça login para continuar</h3>
        <div>
            <a href="/user/register" class="btn">Registrar</a>
            <a href="/user/login" class="btn">Login</a>
        </div>
        <p class="small link" onclick="displaynone()">Continuar sem conta</p>
    </div>
    <style>
        body {
            overflow: hidden;
        }
    </style>
{{/if}}