<form action="./login" method="post">
    <label for="email">E-mail:</label>
    <input type="email" id="email" name="email" placeholder="Insira o seu e-mail..." minlength="8" maxlength="150" required>
    <label for="password">Senha:</label>
    <input type="password" id="password" name="password" placeholder="Insira a sua senha..." minlength="6" maxlength="25" required>
    <a href="/forgetpassword">Esqueci minha senha</a>
    <button type="submit">Login</button>
</form>