/*
Paleta de cores:
verdinho: #98CE52
azul: #3641B7
cinza: #3E3138
verde: #012E31
preto: #0A1517
*/
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css"); /*Bootstrap icons*/
html {
    margin: 0;
    padding: 0;
}
body {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0 10%;
    background-color: #0d1117;
}
hr {
    border-top: .01px solid white;
    width: 80%;
}
form {
    margin: 20px 0;
    text-align: left;
    display: flex;
    align-items: flex-start;
    width: 80%;
    flex-direction: column;
}
label, input {
    width: 100%;
}
input {
    padding: 2% 1%;
    font-size: 110%;
    margin: 1% 0 2%;
    border-radius: 10px;
}
input[type="file"] {
    display: none;
}
/*Popup*/
.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #161b22;
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
    width: 40%;
    height: auto;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: space-between;
    text-align: center;
}
/*Topbar*/
.topbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: white;
    margin: 0;
    left: 0;
    padding: 0 10%;
    width: 80%;
    position: sticky;
    position: absolute;
    background-color: #161b22;

}
.topbar .logo {
    text-decoration: none;
    color: white;
    width: 30%;
}
.navbar {
    width: 50%;
    text-align: end;
}
.topbar .navbar a {
    padding: 10px 10px;
    border-top: 5px solid transparent;
    margin-left: 20px;
    color: white;
    text-decoration: none;
}
.topbar .navbar a:hover {
    overflow: visible;
    border-color: #539df0;
}
/*Estilos reutilizáveis*/
.g-profileimg {
    border-radius: 100%;
    width: 250px;
    height: 250px;
    object-fit: cover;
}
.full {
    width: 80%;
}
.btn {
    color: white;
    margin: 10px 20px;
    text-decoration: none;
    border: 1px solid white;
    font-size: 120%;
    background-color: #161b22;
    padding: 15px 10px;
    border-radius: 10px;
}
.btn:hover {
    background-color: #21262d;
}
.small {
    font-size: small;
}
.link {
    color: #539df0;
}
.link:hover {
    text-decoration: underline;
    cursor: pointer;
}
.inline {
    display: inline;
}