<form method="post">
    <label for="code">Código:</label>
    <input type="number" name="code" id="code" minlength="4" maxlength="4" required>
    <input type="hidden" name="id" value="{{id._id}}">
    <input type="hidden" name="email" value="{{id.email}}">
    <label for="password">Senha:</label>
    <input  type="password" name="password" id="password" minlength="6" maxlength="25" required>

    <button type="submit">Verificar</button>
</form>