<form method="post">
    <label for="lastpassword">Senha:</label>
    <input type="password" id="password" name="password">
    <label for="newpassword">Nova senha</label>
    <input type="password" name="newpassword" id="newpassword">
    <label for="newpassword2">Digite a nova senha novamente</label>
    <input type="password" name="newpassword2" id="newpassword2">
    <a href="/forgetpassword">Esqueci minha senha</a>
    <button type="submit">Mudar senha</button>
</form>