<h2>Criar nova postagem</h2>
<form action="./newpost" method="post" enctype="multipart/form-data">
    <input type="text" name="description">
    <input type="file" name="file" id="file">
    <button type="submit">Criar postagem</button>
</form>