<form action="./entercode" method="post">
    <input type="number" name="code" id="code">
    <input type="hidden" name="id" id="id" value="{{id}}">
    <button type="submit">Verificar</button>
</form>