<form action="" method="post">
    <input type="number" name="code" id="code">
    <input type="hidden" name="id" id="id">
    <script>
        const urlParams = new URLSearchParams(window.location.search)
        const id = urlParams.get('id')
        const idInput = document.getElementById('id')
        idInput.value = id
    </script>
    <button type="submit">Verificar</button>
</form>