<form method="post">
    <label for="password">Nova senha:</label>
    <input type="password" name="password" id="password">
    <label for="password2">Insira novamente a nova senha:</label>
    <input type="password" name="password2" id="password2">
    <button type="submit">Mudar senha</button>
</form>